<div class='col-sm-3 col-md-3 h-100'>
  <div id="collapseColumn" class='collapse show'>
    <div class='row h-25'>
      <div class='card w-100 h-25'>
        <div class='card-header'>Components</div>
        <div class='card-body'>Body</div>
      </div>
    </div>
    <div class='row'>
        <div class='card w-100 h-75'>
          <div class='card-header'>Properties</div>
          <div class='card-body'>Body
          </div>
        </div>
    </div>
  </div>
</div>
<div class='col-sm-9 col-md-9'>
  <div class='row w-100 h-100'>
      <button data-toggle="collapse" data-target="#collapseColumn">Collapsible</button>
  </div>
</div>